<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993645919862-vb12mm76sn8vn1lsbjkbc49ue69gsmt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993645919862-vb12mm76sn8vn1lsbjkbc49ue69gsmt0</string>
	<key>API_KEY</key>
	<string>AIzaSyCi77pLlBOo_zfCl7PJQ1NB_Ufnbbn1jLI</string>
	<key>GCM_SENDER_ID</key>
	<string>993645919862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.seobang.mangdic</string>
	<key>PROJECT_ID</key>
	<string>seobang-9f5e8</string>
	<key>STORAGE_BUCKET</key>
	<string>seobang-9f5e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993645919862:ios:9d42181e453f19eeaaa957</string>
	<key>DATABASE_URL</key>
	<string>https://seobang-9f5e8-default-rtdb.firebaseio.com</string>
</dict>
</plist>