<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993645919862-1jg3g4ppoo1f1o8ounro638ahpg1a0mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993645919862-1jg3g4ppoo1f1o8ounro638ahpg1a0mn</string>
	<key>API_KEY</key>
	<string>AIzaSyCi77pLlBOo_zfCl7PJQ1NB_Ufnbbn1jLI</string>
	<key>GCM_SENDER_ID</key>
	<string>993645919862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.echoseoul</string>
	<key>PROJECT_ID</key>
	<string>seobang-9f5e8</string>
	<key>STORAGE_BUCKET</key>
	<string>seobang-9f5e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993645919862:ios:91fc510c906e23fcaaa957</string>
</dict>
</plist>